<p id="notice"><%= notice %></p>

<h2>Events</h2>

<table>
  <thead>
    <th>
      Event Name
    </th>
    <th>
      Event Venue
    </th>
    <th>
      Date
    </th>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.event_venue.name %></td>
        <td><%= event.start_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
